<div class="container">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<h3>プロフィール変更</h3>
			<%= form_for(@creater, url:admins_creater_path(@creater.id)) do |f| %>
			<p>名前</p>
			<%= f.text_field :name %>
			<p>プロフィール</p>
			<%= f.text_area :profile %>
			<p>ステータス</p>
			<%= f.select :status, Creater.statuses.keys{}, {class: 'form-control'} %>
			<br>
			<%= f.submit '変更', class: 'btn btn-default btn-sm' %>
			<% end %>
		</div>
	</div>
</div>