<div class="container">
    <div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>お問い合わせフォーム</h3>
			<p>製品についてお気づきの点、一括購入のご相談、その他お問い合わせなどお気軽にご連絡ください。</p>
			<%= form_with model: @contact, url: check_path, method: :post, local: true do |f| %>
			<div class="form-group">
				<label>お名前</label>
				<%= f.text_field :name, class:"col-xs-12" %>
			</div>
			<div class="form-group">
				<label>メールアドレス</label>
				<%= f.email_field :email, class:"col-xs-12" %>
			</div>
			<div class="form-group">
				<label>タイトル</label>
				<%= f.text_field :title, class:"col-xs-12" %>
			</div>
			<div class="form-group">
				<label>お問い合わせ内容</label>
				<%= f.text_area :body, class:"col-xs-12" %>
			</div>
			<%= f.submit '確認画面', class: 'btn btn-default btn-sm' %>
			<% end %>
		</div>
    </div>
</div>
