<div class="container">
  <div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<h3>注文一覧</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>注文日</th>
					<th>アイテム</th>
					<th>注文者</th>
					<th>製作状況</th>
				</tr>
			</thead>
			<tbody>
				<% @order_items.reverse_each do |order_item| %>
				<tr>
					<td><%= link_to order_item.created_at, creaters_order_item_path(order_item.id) %></td>
					<td><%= order_item.item.name %></td>
					<td>
						<%= order_item.order.end_user.name_family %>
						<%= order_item.order.end_user.name_first %>
					</td>
					<td><%= order_item.creat_status %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
  </div>
</div>
