<div class="conteinar">
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-10">
			<h4>商品新規登録</h4>
	    </div>
	</div>
	<div class="row">
	  	<div class="form-horizontal" role="form">
	  		<%= form_for(@item, url: creaters_items_path) do |f| %>
	  	<div class="col-xs-2"></div>
	    <div class="col-xs-3">
		    <div class="form-group">
				<label>写真</label>
				<p><%= f.attachment_field :image %></p>
			</div>
		</div>

		<div class="col-xs-5">

			<div class="form-group">
				<label class="col-sm-3 control-label">商品名</label>
				<%= f.text_field :name, class:"col-sm-9" %>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">商品説明</label>
				<%= f.text_area :body, class:"col-sm-9" %>
			</div>
			<div class="form-group">
			    <label class="col-sm-3 control-label">タグ</label>
			    <%= f.text_area :tag_list, value: @item.tag_list, class:"col-sm-9" %>
			</div>
			<div class="col-sm-9 col-sm-offset-3">（半角スペースで区切れます）</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">価格</label>
				<%= f.text_field :price, class:"col-sm-8" %>
				<div class="col-sm-1">円</div>
			</div>
			<div class="form-group">
			  	<label class="col-sm-3 control-label">販売ステータス</label>
			  	<%= f.select :status, Item.statuses.keys{}, {class: 'form-control'} %>
			</div>
			<%= f.hidden_field :creater_id, :value => current_creater.id %>
	    </div>
		<div class="row">
		  <div class="col-xs-9"></div>
		  <div class="col-xs-3">
			<div class="actions">
		    <%= f.submit '投稿', class: 'btn btn-default btn-sm' %>
		    </div>
		    <% end %>
		  </div>
	    </div>
	    </div>
	    <div class="col-xs-2"></div>
	</div>
</div>
