<div class="container">
  	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-10">
	  		<h4>商品詳細</h4>
    	</div>
  	</div>
  	<div class="row">
	    <div class="col-xs-2"></div>
	    <div class="col-xs-3">
			<%= attachment_image_tag @item, :image, :fill, 200, 200, format: 'jpeg' %>
	    </div>
	    <div class="col-xs-6">
			<p><strong>商品名</strong>　　　　<%= @item.name %></p>
			<p><strong>商品説明</strong>　　　<%= @item.body %></p>
			<p><strong>tag</strong>
			<p><strong>価格</strong>　　　    <%= @item.price %>円 </p>
			<p><strong>販売ステータス</strong>　 <%= @item.status %></p>
	    </div>
	  	<div class="col-xs-1"></div>
  	</div>
  	<div class="row">
	    <div class="col-xs-9"></div>
	    <div class="col-xs-3">

			<%= link_to(edit_creaters_item_path(@item.id)) do %>
			<%= button_tag( class: 'btn btn-default' ) do %>
			編集
			<% end %>
			<% end %>
	  	</div>
	</div>
</div>

