<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">会員ID</label>
            <%= @end_user.id %>
          </div>
          <%= form_for(@end_user, url: admin_end_user_path(@end_user.id)) do |f| %>
          <div class="form-group">
            <label class="col-sm-2 control-label">氏名</label>
                <%= f.text_field :name_family, class:"col-sm-3" %>
                <%= f.text_field :name_first, class:"col-sm-3" %>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">フリガナ</label>
                <%= f.text_field :name_family_kana, class:"col-sm-3" %>
                <%= f.text_field :name_first_kana, class:"col-sm-3" %>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">メールアドレス</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-sm-6" %>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">郵便番号</label>
                <%= f.text_field :postal_code, class:"col-sm-6" %>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">住所</label>
                <%= f.text_field :address, class:"col-sm-6" %>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">電話番号</label>
                <%= f.text_field :tel, class:"col-sm-6" %>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">会員ステータス</label>
            <label><%= f.radio_button :is_deleted, false %>会員</label>
            <label><%= f.radio_button :is_deleted, true %>退会済み</label>
          </div>

          <div class="actions">
                <%= f.submit "変更を保存する", class:"btn btn-default" %>
          </div>
          <% end %>
    </div>
  </div>
</div>