<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<p>名前</p>
			<%= @contact.name %>
			<p>タイトル</p>
			<%= @contact.title %>
			<p>問い合わせ内容</p>
			<%= @contact.title %>
			<p>対応ステータス</p>
			<%= @contact.status %>
			<p><%= link_to "edit", edit_admins_creater_path %></p>
		</div>
	</div>
</div>
