<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>製作者一覧</th>
					</tr>
				</thead>
				<tbody>
					<% @creaters.each do |creater| %>
					<tr>
						<td>
							<%= creater.name %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="col-lg-9">
		  <div class="row">
			<h2><%= @item_index_title %></h2>
			<% @items.each do |item| %>
				<table>					<thead>
						<tr>
							<th>作品名</th>
							<th>製作者</th>
							<th>価格</th>
							<th>販売ステータス</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= item.name %></td>
							<td></td>
							<td><%= item.price %></td>
							<td><%= item.status %></td>
						</tr>
					</tbody>
				</table>
			<% end %>
		  </div>
	    </div>
	</div>
</div>