<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<h4>注文情報入力</h4>
			    <%= form_with model: @order, url:comfirm_path, method: :post, local: true do |f| %>
			    <p>支払方法</p>
			    <div class="form-group">
					<%= f.radio_button :payment, :クレジットカード %>
					<label>クレジットカード</label>
			    </div>
			    <div class="form-group">
					<%= f.radio_button :payment, :銀行振込 %>
					<label>銀行振込</label>
			    </div>

			    <p>お届け先</p>
			    <div class="form-group">
			  		<%= f.radio_button :address_option, 0 %>自身の住所
				    	<p>　　〒<%= current_end_user.postal_code %>　<%= current_end_user.address %></p>
				    	<p>　　<%= current_end_user.name_family %>　<%= current_end_user.name_first %></p>
			    </div>
			    <div class="form-group">
			    	<%= f.radio_button :address_option, 1 %>新規住所
			    </div>

			  　<div class="form-group, row">
				    <label class="col-xs-4">郵便番号(ハイフンなし</label>
				  		<%= f.text_field :postal_code, class:"col-xs-8" %>
				</div>

			    <div class="form-group, row">
			        <label class="col-xs-4">住所</label>
			  			<%= f.text_field :address, class:"col-xs-8" %>
			    </div>
			    <div class="form-group, row">
			        <label class="col-xs-4">宛名</label>
			  			<%= f.text_field :name, class:"col-xs-8" %>
			    </div>
			    <div class="actions">
			    	<%= f.submit '確認画面', class: 'btn btn-primary btn-sm' %>
			    </div>
			<% end %>
		</div>
	</div>
</div>