<!DOCTYPE html>
<html>
  <head>
    <title>RamieVille</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="title_logo">
          ramie-ville
        </div>

        <div class="container">
          <div class="row">
            <div class="nav">
              <% if admin_signed_in? %>
                <div class="nav_item, col-xs-1">
                  <%= link_to "index", admins_homes_path %>
                </div>
                <div class="nav_item, col-xs-1">
                  <%= link_to "注文一覧", admins_orders_path %>
                </div>
                <div class="nav_item, col-xs-1">
                  <%= link_to "商品一覧", admins_items_path %>
                </div>
                <div class="nav_item, col-xs-1">
                  <%= link_to "製作者一覧", admins_creaters_path %>
                </div>
                <div class="nav_item, col-xs-1">
                  <%= link_to "会員一覧", admins_end_users_path %>
                </div>
                <div class="nav_item, col-xs-1">
                  <%= link_to "お問い合わせ一覧", admins_contacts_path %>
                </div>
                <div class="nav_item, col-xs-1">
                  <%= link_to destroy_admin_session_path, :method => :delete do %>
                    ログアウト
                  <% end %>
                </div>

              <% elsif creater_signed_in? %>
                <div class="nav_item, col-xs-2 col-xs-offset-1">
                <%= link_to "index", creaters_homes_path %>
                </div>
                <div class="nav_item, col-xs-2">
                <%= link_to "商品一覧", creaters_items_path %>
                </div>
                <div class="nav_item, col-xs-2">
                注文一覧
                </div>
                <div class="nav_item, col-xs-2">
                <%= link_to "プロフィール", creaters_profile_path(current_creater.id) %>
                </div>
                <div class="nav_item, col-xs-2">
                  <%= link_to destroy_creater_session_path, :method => :delete do %>
                    ログアウト
                  <% end %>
                </div>

              <% elsif end_user_signed_in? %>
                <div class="nav_item, col-xs-2 col-xs-offset-1">
                <%= link_to "index", root_path %>
                </div>
                <div class="nav_item, col-xs-2">
                  <%= link_to "about", about_path %>
                </div>
                <div class="nav_item, col-xs-2">
                商品一覧
                </div>
                <div class="nav_item, col-xs-2">
                  会員情報
                </div>
                <div class="nav_item, col-xs-2">
                  <%= link_to destroy_end_user_session_path, :method => :delete do %>
                    ログアウト
                  <% end %>
                </div>

              <% else %>
                <div class="nav_item, col-xs-2 col-xs-offset-1">
                index
                </div>
                <div class="nav_item, col-xs-2">
                about
                </div>
                <div class="nav_item, col-xs-2">
                商品一覧
                </div>
                <div class="nav_item, col-xs-2">
                  <%= link_to "ログイン", new_end_user_session_path %>
                </div>
                <div class="nav_item, col-xs-2">
                  <%= link_to "会員登録", new_end_user_registration_path %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </header>

      <%= yield %>

      <footer>
        <p>CopyRight ramie-ville.inc</p>
        <p>お問い合わせ</p>
        <%= link_to "管理者ログイン", new_admin_session_path %>
        <%= link_to "製作者ログイン", new_creater_session_path %>
      </footer>
    </div>
  </body>
</html>
